
.home{
    width: 100%;
    height: 95vh;
    background-image: url("/backgroundWebsite.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 7rem;

}

.home .eventTitle{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.home .hackathonName {
    font-size: 7vw;

}


.home .hackathonName span{
    color: var(--orange--color);
}



.eventInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    top: -15vh;
    width: 40vw;
    margin: 0 7rem;
}

.eventInfo div{
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 1.5rem;
    padding: 0;
}

.eventInfo div p{
    width: 50%;
    height: 100%;
    margin-right: 2rem;
    line-height: 30px;
    font-weight: 100;
}

.home .sectionTitle{
    animation: colorA 3.5s;
}

.home .registerButton{
    display: none;
}





@keyframes colorA {
    from { color: transparent }
    to { color: var(--orange--color) }
  }



.typewriter h1 {
    overflow: hidden;
    border-right: .1em solid orange; 
    white-space: nowrap;
    margin: 0 auto; 
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }


  @media screen and (max-width: 768px){
    .home{
        height: 70vh;
        padding: 0 2rem;
    }

    .home .eventTitle{
        width: auto;
    }

    .home .hackathonName {
        font-size: 8vw;
    }

    .eventInfo{
        width: 100% ;
        margin: 0 ;
        padding: 0 2rem;

    }

    .eventInfo div{
        width: 100%;
        display: flex;
        flex-direction: column ;

    }

    .eventInfo div p{
        margin-bottom: 1rem;
        width: 100%;
        padding: 0 2rem;
    }

    .home .registerButton{
        width: 100%;
        height: 5vh;
        display: flex !important;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    
    }
    
    .home .registerButton button{
        background-color: var(--orange--color);
        color: var(--white--color);
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        cursor: pointer;
    }

    .registerForm-visible{
        position: fixed;
        top: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        background-color: #FFFFFF21;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 100;
    }
    
    
    .registerForm-invisible{
        display: none;
        pointer-events: auto;
    
    }
    
    
    
}
