.registerSection{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 40%;
    height: 80%;
    background-color: var(--black--color);
    padding: 0 7rem;
    border-radius: 12px;

}

.registerSection h1{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;

}

.registerSection .close-button{
    position: absolute;
    left: 100%;
    top: 80%;
    border: none;
    width: 2rem;
    height: 2rem;
    color: white;
    background-color: transparent;

}   

.progressionBar{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.progressionBarFill-orange{
    width: 30%;
    height: 3px;
    background-color: var(--orange--color);
    border-radius: 12px;
}

.progressionBarFill-white{
    width: 30%;
    height: 3px;
    background-color: var(--white--color);
    border-radius: 12px;
}


.formData{
    width: 100%;
    height: 70%;
}

.formData form {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}

.formData form div{
    width: 100%;
    height: 10%;
}

.formData form .doubleInput{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5vh;
}

.doubleInput input{
    width: 47%;
    height: 100%;
}

.formData form .singleInput{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.singleInput input{
    width: 100%;
    height: 100%;
}

.formData h2{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.singleButton{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.singleButton button{
    background-color: var(--orange--color);
    color: var(--white--color);
    border: none;
    border-radius: 6px;
    padding: 0.5rem 1rem;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.singleButton button h2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.questionInput{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: flex-start;
    align-items:  flex-start;
    flex-direction: column;

}

.questionInput label{
    color: var(--orange--color);
}

.questionInput input{
    width: 100%;
    height: 5vh;
}


.buttonDouble{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.buttonDouble button{
    background-color: var(--orange--color);
    color: var(--white--color);
    border: none;
    border-radius: 6px;
    padding: 0.5rem 1rem;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonDouble button h2{
    display: flex;
    justify-content: center;
    align-items: center;
}



.questionInput input{
    width: 100%;
    height: 5vh !important;
}

@media screen and (max-width:768px){
    .registerSection{
        width: 90%;
        padding: 0 2rem;
        overflow-x: scroll;

    }

    .questionInput div{
        flex-direction: column;
    }

    .row{
        flex-direction: row !important;
    }

    .formData{
        overflow-x: scroll;
    }
}