:root {
  --white--color:#ffffff;
  --orange--color: #ff8000;
  --black--color: #000000;


  --font-family: "Poppins", sans-serif;
  

  --h1--font-size: 40px;
  --h1--font-weight: bolder;

  --h2--font-size: 32px;
  --h2--font-weight: bold;

  --h3--font-size: 24px;
  --h3--font-weight: bold;

  --p--font-size: 20px;
  --p--font-weight: normal;

  --subP--font-size: 16px;
  --subP--font-weight: lighter;


}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  font-size: var(--h1--font-size);
  font-weight: var(--h1--font-weight);
}

h2{
  font-size: var(--h2--font-size);
  font-weight: var(--h2--font-weight);
}

h3{
  font-size: var(--h3--font-size);
  font-weight: var(--h3--font-weight);
}

p{
  font-size: var(--p--font-size);
  font-weight: var(--p--font-weight);
}

.subP{
  font-size: var(--subP--font-size);
  font-weight: var(--subP--font-weight);
}

body{
  font-family: var(--font-family);
  background-color: var(--black--color);
  color: var(--white--color);
  width: 100%;
  height: 100vh;
}

.loader {
  border: 16px solid #f3f3f3; 
  border-top: 16px solid var(--orange--color);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loaderContainer{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/backgroundWebsite.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

@media screen and (max-width: 768px){
  h1{
    font-size: 20px;
  }

  h2{
    font-size: 16px;
  }

  h3{
    font-size: 11px;
  }

  p{
    font-size: 10px;
  }

  .subP{
    font-size: 11px;
  }
  
}